@use '/src/assets/styles/abstracts/mixins' as *;
@use '/src/assets/styles/abstracts/variables' as *;
@use '/src/assets/styles/abstracts/function' as *;

/* 공통 사용 */
.btn1 {
    @include font-style(Btn-text-3);
    @include color(main, white);
    @include bg-color(main, primary2);
    padding: 9.5px 16px;
    border-radius: 6px;
    border-width: 1px;
    border: 1px solid #{color(main, primary)};
    cursor: pointer;

    &:hover {
        @include bg-color(main, primary);
    }
}

.btn2 {
    @include font-style(Main-Btn-1);
    @include color(dark, 100);
    @include bg-color(main, primary);
    padding: 20px 105px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 4px 0px #{color(light, 100)};

    &:hover {
        @include bg-color(main, primary2);
    }
}

.btn3 {
    @include font-style(Main-Btn-2);
    @include color(light, black);
    @include bg-color(main, white);
    padding: 19.5px 70px 20.5px 26px;
    border-radius: 12px;
    border: 2px solid #{color(light, 300)};
    cursor: pointer;
    position: relative;

    background-image: url('../img/btnArrow.svg');
    background-position: right 24px center;
}
