@use '/src/assets/styles/abstracts/mixins' as *;
@use '/src/assets/styles/abstracts/variables' as *;
@use '/src/assets/styles/abstracts/function' as *;
@use '/src/assets/styles/base/typography' as *;

/*레이아웃*/
.container {
    display: flex;
    flex-direction: column;
    background-color: color(light, 100);
    min-height: 100vh;

    :global(.dark-theme) & {
        background-color: color(dark, 900);
    }
}

.contentWrap {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
}
