@use '/src/assets/styles/abstracts/mixins' as *;
@use '/src/assets/styles/abstracts/variables' as *;
@use '/src/assets/styles/abstracts/function' as *;

.switch1-wrap {
    @include font-style(Btn-text-4);
    background-color: color(light, 100);
    display: flex;
    gap: 4px;
    border-radius: 10px;
    padding: 4px;
    cursor: pointer;

    :global(.dark-theme) & {
        background-color: color(dark, 900);
    }
}

.switch1-item {
    min-width: 61px;
    background-color: color(main, white);
    color: color(light, 900);
    border: 1px solid color(light, 300);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 4px;

    :global(.dark-theme) & {
        background-color: color(dark, 800);
        color: color(dark, 200);
        border: 1px solid color(dark, 600);
    }
}

.switch1-item2 {
    color: color(light, 700);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 4px;

    :global(.dark-theme) & {
        color: color(dark, 300);
    }
}
