/* 컬러 스타일링*/
$colors: (
    // 메인 / 기타 컬러
    main: (
            primary: #00b075,
            primary2: #00a870,
            primary3: #edf8f2,
            red: #fa2b2b,
            white: #ffffff
        ),

    // 라이트 모드 컬러
    light: (
            100: #f4f4f8,
            200: #f0f0f5,
            300: #ededf3,
            400: #e7e7ee,
            500: #cecfde,
            600: #b9baca,
            700: #9698b0,
            800: #717284,
            900: #3f4550,
            black: #202024,
            header-text: #636b7e,
            btn: #404b63,
            btn-hover: #343b51,
            header-bg: #242a38
        ),

    // 다크 모드 컬러
    dark: (
            100: #fafafa,
            200: #dddfe4,
            300: #535865,
            400: #3f4450,
            500: #343842,
            600: #202228,
            700: #1e2026,
            800: #1b1d22,
            900: #191b20,
            black: #16181d,
            header-text: #636b7e,
            btn: #161820,
            btn-hover: #262a36,
            header-bg: #24272e
        )
);

/*폰트 스타일링*/
// 폰트 패밀리
$font-family: (
    default: (
        'Wanted Sans Std Variable',
        'Wanted Sans Std',
        -apple-system,
        BlinkMacSystemFont,
        system-ui,
        'Segoe UI',
        Roboto,
        'Helvetica Neue',
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol',
        sans-serif
    )
);

// 폰트
$fonts: (
    T1: (
        font-weight: 600,
        font-size: 36px,
        line-height: 44px,
        letter-spacing: 0%
    ),
    T2: (
        font-weight: 600,
        font-size: 32px,
        line-height: 100%,
        letter-spacing: 0%
    ),
    SubT: (
        font-weight: 600,
        font-size: 26px,
        line-height: 100%,
        letter-spacing: -0.8%
    ),
    B1: (
        font-weight: 400,
        font-size: 18px,
        line-height: 32px,
        letter-spacing: 0.08%
    ),
    B2: (
        font-weight: 500,
        font-size: 18px,
        line-height: 24px,
        letter-spacing: 0%
    ),
    B3: (
        font-weight: 500,
        font-size: 16px,
        line-height: 22px,
        letter-spacing: 0%
    ),
    B4: (
        font-weight: 400,
        font-size: 16px,
        line-height: 100%,
        letter-spacing: 0%
    ),
    Btn-text-1: (
        font-weight: 600,
        font-size: 16px,
        line-height: 100%,
        letter-spacing: 0%
    ),
    Btn-text-2: (
        font-weight: 500,
        font-size: 16px,
        line-height: 100%,
        letter-spacing: 0%
    ),
    Btn-text-3: (
        font-weight: 600,
        font-size: 14px,
        line-height: 100%,
        letter-spacing: 0%
    ),
    Btn-text-4: (
        font-weight: 500,
        font-size: 14px,
        line-height: 100%,
        letter-spacing: 0%
    ),
    Card-title: (
        font-weight: 500,
        font-size: 22px,
        line-height: 100%,
        letter-spacing: -1%
    ),
    Card-Body: (
        font-weight: 400,
        font-size: 16px,
        line-height: 24px,
        letter-spacing: 0.08%
    ),
    Main-title: (
        font-weight: 600,
        font-size: 80px,
        line-height: 100%,
        letter-spacing: -1.6%
    ),
    Main-body: (
        font-weight: 500,
        font-size: 24px,
        line-height: 32px,
        letter-spacing: -0.6%
    ),
    Main-Btn-1: (
        font-weight: 600,
        font-size: 20px,
        line-height: 100%,
        letter-spacing: 0%
    ),
    Main-Btn-2: (
        font-weight: 500,
        font-size: 20px,
        line-height: 100%,
        letter-spacing: 0%
    )
);
