@use 'sass:map';

// 컬러
$colors: (
    // 메인 / 기타 컬러
    main: (
            primary: #00b075,
            primary2: #00a870,
            primary3: #edf8f2,
            red: #edf8f2,
            white: #edf8f2
        ),

    // 라이트 모드 컬러
    light: (
            100: #f4f4f8,
            200: #f0f0f5,
            300: #ededf3,
            400: #e7e7ee,
            500: #cecfde,
            600: #b9baca,
            700: #9698b0,
            800: #717284,
            900: #3f4550,
            black: #202024,
            header-text: #636b7e,
            btn: #404b63,
            btn-hover: #343b51,
            header-bg: #242a38
        ),

    // 다크 모드 컬러
    dark: (
            100: #fafafa,
            200: #dddfe4,
            300: #535865,
            400: #3f4450,
            500: #343842,
            600: #202228,
            700: #1e2026,
            800: #1b1d22,
            900: #191b20,
            black: #16181d,
            header-text: #636b7e,
            btn: #161820,
            btn-hover: #262a36,
            header-bg: #24272e
        )
);

@mixin color($theme, $color) {
    color: map.get(map.get($colors, $theme), $color);
}

@mixin bg-color($theme, $color) {
    background-color: map.get(map.get($colors, $theme), $color);
}
