@use './abstracts/variables' as *;
@use './abstracts/mixins' as *;
@use './abstracts/function' as *;

@use './base/typography' as *;

@use './pages/home';

@use './layout/footer';
@use './layout/header';
@use './layout/layout';

@use './components/button';

//폰트, 컬러 사용 예시
.test {
    @include font-style(Main-title);
    color: color(main, primary);
    background-color: color(light, 600);
    border: 1px solid color(light, btn);
}
